# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.env
.venv
env/
venv/
ENV/

# Jupyter runtime files
.jupyter/

# OS-specific files
.DS_Store
Thumbs.db

# (Optional) Ignore large model or binary files if not needed
*.h5
*.pkl
*.joblib
